html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video_wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

video {
  width: 100%;
  margin-bottom: -5px;
  position: relative;
  z-index: -1;
  object-fit: cover;
  height: 666px;
}

header {
  height: 10vh;
  margin: 0;
  padding: 0;
  position: relative;
}

#logo {
  position: absolute;
  left: 2vw;
  top: 4vh;
}
#headline {
  color: white;
  position: absolute;
  top: 150%;
  left: 5%;
  font-size: xx-large;
}

#wave {
  background-color: transparent;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#content {
  color: black;
  bottom: 0;
  width: 100%;
  background-color: white;
  margin-top: 600px;
}

.content-container {
  padding: 0 4vw 4vh 4vw;
}

.button {
  cursor: pointer;
  color: #000;
  margin: 35px;
  background: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  line-height: 54px;
  border-radius: 40px;
  font-weight: bold;
  position: relative;
  transition: 0.8s all ease;
}
.button::before {
  content: '';
  position: absolute;
  background-image: url('./assets/button.png');
  width: 353px;
  height: 216px;
  background-position: center;
  background-repeat: no-repeat;
  top: -82px;
  right: -73px;
}
.button span {
  position: relative;
  color: #000;
  width: 199px;
  height: 54px;
  font-size: 22px;
  line-height: 52px;
  border-radius: 40px;
  display: block;
  z-index: 9;
  transition: 0.5s all ease;
  text-transform: uppercase;
}
.button:hover span {
  letter-spacing: 1px;
  color: #0d95d0;
}

/* company-information */
.company-information {
  margin-top: 50px;
  margin-bottom: 50px;
}
.company-information p {
  font-size: 18px;
  line-height: 30px;
  padding-right: 15vw;
  color: #313131;
}

/* statistics */
.statistics-container {
  display: flex;
}
.statistics-item {
  width: 33.33%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.button-primary {
  margin-top: 3rem;
}
.statistics-explanation {
  font-size: 18px;
  line-height: 30px;
  padding-right: 12vw;
  color: #313131;
  margin: 1rem 0;
}

.loader {
  animation: load 1.5s linear infinite;
}

@keyframes load {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
  body {
    font-size: 16px;
  }
  .video_wrapper {
    height: 600px;
  }
  video {
    height: 600px;
  }
  #logo {
    left: 4vw;
    top: 3vw;
  }
  #headline {
    top: 120%;
    left: 5%;
    font-size: x-large;
  }
  .button {
    margin: 30px;
  }
  .button span {
    font-size: 20px;
  }
  .statistics-container {
    flex-direction: column;
  }
  .statistics-explanation {
    padding-right: 0;
    font-size: 16px;
    line-height: 25px;
  }
  .statistics-item {
    width: 100%;
    margin-top: 1rem;
  }
  .company-information p {
    padding-right: 0;
    font-size: 16px;
    line-height: 25px;
  }
}
