body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video_wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

video {
  width: 100%;
  margin-bottom: -5px;
  position: relative;
  z-index: -1;
  object-fit: cover;
  height: 666px;
}

header {
  height: 10vh;
  margin: 0;
  padding: 0;
  position: relative;
}

#logo {
  position: absolute;
  left: 1vw;
  top: 2vh;
}
#headline {
  color: white;
  position: absolute;
  top: 150%;
  left: 5%;
  font-size: xx-large;
}

#wave {
  background-color: transparent;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
